streamlit==0.86
requests
bs4
BeautifulSoup
re
nltk==0.4.6
numpy
pandas
seaborn
matplotlib
matplotlib.pyplot
random
wordcloud
os
textblob
pattern.en
datetime
nltk.sentiment
SentimentIntensityAnalyzer

